<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>生产现场 - 无锡动力工程股份有限公司</title>
    <meta name="keywords" content="无锡动力工程股份有限公司" />
    <meta name="description" content="无锡万迪动力集团有限公司是研制生产内燃机、涡轮增压器、柴油发电机组及其零部件的大型骨干企业，江苏省高新技术企业和中国机械500强企业，前身为成立于1956年的公私合营无锡动力机厂。" />
    <meta name="Copyright" content="该网站由无锡君通制作并版权所有" />
    <meta name="renderer" content="webkit">
    <link rel="shortcut icon" href="img/favicon.ico" />

    <!-- <link rel="stylesheet" href="bootstrap/css/bootstrap.css"> -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/navbar.css" rel="stylesheet">
    <link rel="stylesheet" href="css/topbar.css" />
    <link rel="stylesheet" href="css/foot.css">
    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="css/inbanner.css">
    <link rel="stylesheet" href="css/innav.css">
    <link rel="stylesheet" href="css/inmain.css">

    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- 通栏 -->
    <header class="wjs_topBar">
        <div class="container">
            <div class="tip">欢迎您访问无锡动力工程股份有限公司的网站！</div>
            <div class="rig">
                <div class="link">
                    <a href="#">加入收藏</a>
                    <span>|</span>
                    <a href="#">企业邮局</a>
                </div>
                <div class="lang">
                    <a href="#">中文版</a>
                    <a href="#">English</a>
                </div>
                <div class="tel">全国销售服务热线：0510-88536507</div>
            </div>
        </div>
    </header>
    <!-- 导航栏 -->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="../首页/index.html" style="display: block;">
                    <img src="img/logo.png" alt="">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../公司介绍/intro.html">公司介绍</a></li>
                    <li><a href="./idea.html">公司理念</a></li>
                    <li><a href="./news.html">新闻动态</a></li>
                    <li><a href="../产品展示/index1.html">产品展示</a></li>
                    <li><a href="../后面/need.html">需求信息</a></li>
                    <li><a href="../后面/talents.html">人才招聘</a></li>
                    <li><a href="../后面/contact.html">联系我们</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="inbanner">
        <div class="title">
            <div class="cn">公司理念</div>
            <div class="en">为大众更快、更及时的了解我公司的信息提供便利</div>
        </div>
    </div>
    <div class="inpage">
        <div class="container">
            <!-- 导航栏 -->
            <div class="innav" data-spy="affix" data-offset-top="343.5">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#shengchan" data-toggle="tab">生产现场</a></li>
                    <li><a href="case.html">案例展示</a></li>
                    <li><a href="news.html">新闻动态</a></li>
                    <li><a href="vedio.html">企业视频</a></li>
                </ul>
            </div>
            <!-- 内容 -->
            <div class="tab-content">
                <div class="tab-pane active" id="shengchan">
                    <div class="inmain">
                        <div class="intitle">
                            <h1>生产现场</h1>
                        </div>
                        <div class="wrapper">
                            <ul>
                                <li>
                                    <a href="idea_item.html">
                                        <div class="img">
                                            <img src="img/20180327143611168.jpg" alt="">
                                        </div>
                                        <div class="nam">办公区域</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img">
                                            <img src="img/20180327143448945.jpg" alt="">
                                        </div>
                                        <div class="nam">机加工</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img">
                                            <img src="img/20180327143300461.jpg" alt="">
                                        </div>
                                        <div class="nam">库存-立式仓库</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img">
                                            <img src="img/20180327142521320.jpg" alt="">
                                        </div>
                                        <div class="nam">装配</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img">
                                            <img src="img/20180327142119707.jpg" alt="">
                                        </div>
                                        <div class="nam">装配</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img">
                                            <img src="img/20180327142957111.jpg" alt="">
                                        </div>
                                        <div class="nam">试车</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img">
                                            <img src="img/20180327143143655.jpg" alt="">
                                        </div>
                                        <div class="nam">喷涂线</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img">
                                            <img src="img/20180327142626504.jpg" alt="">
                                        </div>
                                        <div class="nam">质检-三坐标测量仪</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img">
                                            <img src="img/20180327142808116.jpg" alt="">
                                        </div>
                                        <div class="nam">污水处理设施</div>
                                    </a>
                                </li>
                            </ul>
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="javascript:;" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="disabled">
                                        <span class="disabled"><</span>
                                    </li>
                                    <li class="active"><a href="javascript:;">1</a></li>
                                    <li><a href="javascript:;">2</a></li>
                                    <li class="disabled">
                                        <span class="disabled">></span>
                                    </li>
                                    <li>
                                        <a href="javascript:;" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="anli">
                    <div class="inmain">
                        <div class="intitle">
                            <h1>案例展示</h1>
                        </div>
                        <div class="wrapper">
                            <ul>
                                <li>
                                    <a href="case_item.html">
                                        <div class="img">
                                            <img src="img/20180423131834945.jpg" alt="">
                                        </div>
                                        <div class="nam">海口海关</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img">
                                            <img src="img/20180423131736956.jpg" alt="">
                                        </div>
                                        <div class="nam">浦东国际机场</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img">
                                            <img src="img/20180423131629423.jpg" alt="">
                                        </div>
                                        <div class="nam">厦门公安局</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img">
                                            <img src="img/20180423131521691.jpg" alt="">
                                        </div>
                                        <div class="nam">深圳地铁</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img">
                                            <img src="img/20180423131329955.jpg" alt="">
                                        </div>
                                        <div class="nam">首创奥特莱斯</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img">
                                            <img src="img/20180423130802221.jpg" alt="">
                                        </div>
                                        <div class="nam">首都国际机场</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img">
                                            <img src="img/20180423112740450.jpg" alt="">
                                        </div>
                                        <div class="nam">中集智谷</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img">
                                            <img src="img/20180423112446416.jpg" alt="">
                                        </div>
                                        <div class="nam">中石油CNPC</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img">
                                            <img src="img/20180327143611168.jpg" alt="">
                                        </div>
                                        <div class="nam">雅居乐房地产项目</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img">
                                            <img src="img/20180327143448945.jpg" alt="">
                                        </div>
                                        <div class="nam">万科尚城/里享家项目</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img">
                                            <img src="img/20180327143300461.jpg" alt="">
                                        </div>
                                        <div class="nam">厦门北海湾惠龙万达嘉华酒店</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img">
                                            <img src="img/20180327143143655.jpg" alt="">
                                        </div>
                                        <div class="nam">玖云著/玖龙台项目</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img">
                                            <img src="img/20180327140946868.jpg" alt="">
                                        </div>
                                        <div class="nam">世茂御龙湾项目</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img">
                                            <img src="img/20180327140755947.jpg" alt="">
                                        </div>
                                        <div class="nam">西安锦绣天下四期住宅项目</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img">
                                            <img src="img/20180327140552421.jpg" alt="">
                                        </div>
                                        <div class="nam">万锦熙岸/山湖世家项目</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img">
                                            <img src="img/20180327140133660.jpg" alt="">
                                        </div>
                                        <div class="nam">海伦堡流金岁月住宅项目</div>
                                    </a>
                                </li>
                            </ul>
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="javascript:;" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="disabled">
                                        <span class="disabled"><</span>
                                    </li>
                                    <li class="active"><a href="javascript:;">1</a></li>
                                    <li><a href="javascript:;">2</a></li>
                                    <li class="disabled">
                                        <span class="disabled">></span>
                                    </li>
                                    <li>
                                        <a href="javascript:;" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="xinwen">
                    <div class="inmain">
                        <div class="intitle">
                            <h1>新闻动态</h1>
                        </div>
                        <div class="wrapper">
                            <ul class="newslists">
                                <li>
                                    <div class="img">
                                        <a href="javascript:;">
                                            <img src="img/20210929083028505.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="nam">
                                        <a href="news_item.html">万迪动力集团新厂房顺利封顶</a>
                                    </div>
                                    <div class="txt">
                                        2021年9月9日9时18分，在喜庆的鞭炮声中，集团公司董事长钱志翔、副董事长兼总裁陆国平、副总裁邓静与郑卫国及承建方领导一同挥动铁锹为集团新厂房大楼培上了…
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <a href="javascript:;">
                                            <img src="img/20210715150831801.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="nam">
                                        <a href="javascript:;">万迪动力集团举行庆祝建党100周年暨创先争优表彰大会</a>
                                    </div>
                                    <div class="txt">
                                        2021年7月1日，万迪动力集团庆祝建党100周年暨创先争优表彰大会伴随着庄严的国歌声，在会议厅隆重开幕。集团全体党员共计60余人参加大会。 集团公司党委书记郑…
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <a href="javascript:;">
                                            <img src="img/20200820110707712.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="nam">
                                        <a href="javascript:;">酷暑慰问鼓人心、努力再创“产销双丰收”</a>
                                    </div>
                                    <div class="txt">
                                        近期，无锡持续晴热高温，天气进入“烧烤”模式，但我公司一线员工不畏高温，为了保质保量完成生产任务、满足销售市场需求，仍一如既往地坚守在自己的工作…
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <a href="javascript:;">
                                            <img src="img/20200820110512342.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="nam">
                                        <a href="javascript:;">无锡动力首台16V柴油机样机成功点火</a>
                                    </div>
                                    <div class="txt">
                                        7月28日下午，在众多动力人的期盼和欢呼声中，无锡动力工程股份有限公司首台非道路用V型16缸柴油机样机在试车台位上启动，成功点火。公司董事长钱志翔、总…
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <a href="javascript:;">
                                            <img src="img/20200318140346785.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="nam">
                                        <a href="javascript:;">公示</a>
                                    </div>
                                    <div class="txt">
                                        无锡动力工程股份有限公司环境信息公开表 企业名称 无锡动力工程股份有限公司 统一社会信用代码 91320200135937044C 法定代表人 钱志翔 生产地址 无…
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <a href="javascript:;">
                                            <img src="img/20200225143607999.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="nam">
                                        <a href="javascript:;">心系武汉，共抗疫情！万迪动力在行动！</a>
                                    </div>
                                    <div class="txt">
                                        2020年的春节在所有中国人心里注定是一个永生难忘的记忆。新型冠状病毒肺炎在全国各地蔓延，成为了受关注的事件。 当前，疫情防控正处于胶着对垒状态，形势仍然…
                                    </div>
                                </li>
                            </ul>
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="javascript:;" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="disabled">
                                        <span class="disabled"><</span>
                                    </li>
                                    <li class="active"><a href="javascript:;">1</a></li>
                                    <li><a href="javascript:;">2</a></li>
                                    <li class="disabled">
                                        <span class="disabled">></span>
                                    </li>
                                    <li>
                                        <a href="javascript:;" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
                <div class="tab-pane" id="qiye">
                    <div class="inmain">
                        <div class="intitle">
                            <h1>企业视频</h1>
                        </div>
                        <div class="wrapper">
                        </div>
                        <div align="center">WD360E3TAD120在客户处调试成功</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 尾部 -->
    <div class="foot">
        <div class="container">
            <div class="some clearfix">
                <p>
                    公司总部联系方式： 电话（总机）：0510－81885566 传真：0510－88536805 邮编：214105
                    <br> 地址：中国江苏省无锡市锡山经济开发区胶阳路2721号 E-mail: wdpower@wdpower.com
                </p>
                <div class="tu">
                    <a href="../首页/index.html"> <img src="img/flogo.png" alt=""></a>
                </div>
            </div>
            <div class="copyright">
                <div class="copy-left">
                    <p>
                        COPYRIGHT © 2017 WDPOWER.COM 无锡动力工程股份有限公司 ALL RIGHT RESERVED.
                        <br> 版权归本公司所有,未经许可不得使用、转载、摘编。
                    </p>
                </div>
                <div class="copy-right text-right">
                    《中华人民共和国电信与信息服务业务经营许可证》编号
                    <br>
                    <a href="#">苏ICP备14033756号-1</a>
                </div>
            </div>
        </div>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script> -->
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script> -->
</body>

</html>