<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    {{block 'title'}} {{/block}}
    <link rel="stylesheet" href="public/css/bootstrap.css">
    <link rel="stylesheet" href="public/css/page.css">
    <link rel="stylesheet" href="public/css/product.css">
    <link rel="stylesheet" href="public/css/number.css">
    <link rel="stylesheet" href="public/css/navbar.css" >
    <link rel="stylesheet" href="public/css/topbar.css" />
    <link rel="stylesheet" href="public/css/foot.css">
    {{block 'style'}} {{/block}}
</head>

<body>
    {{include '../common/header.html'}}

    {{block 'content'}} {{/block}}
    {{include '../common/foot.html'}}

    <script src="/public/js/jquery-3.1.1.js"></script>
    <script src="/public/js/bootstrap.js"></script>

    {{block 'script'}} {{/block}}
</body>

</html>