<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="无锡动力工程股份有限公司" />
    <meta name="description" content="无锡万迪动力集团有限公司是研制生产内燃机、涡轮增压器、柴油发电机组及其零部件的大型骨干企业，江苏省高新技术企业和中国机械500强企业，前身为成立于1956年的公私合营无锡动力机厂。" />
    <meta name="Copyright" content="该网站由无锡君通制作并版权所有" />
    <meta name="renderer" content="webkit">
    <link rel="shortcut icon" href="/public/img/favicon.ico" /> {{block 'title'}} {{/block}}
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/topbar.css">
    <link rel="stylesheet" href="/public/css/navbar.css">
    <link rel="stylesheet" href="/public/css/inbanner.css">
    <link rel="stylesheet" href="/public/css/foot.css"> {{block 'style'}} {{/block}}
</head>

<body>
    {{include '../_partials/header.html'}} {{block 'content'}} {{/block}} {{include '../_partials/footer.html'}}


    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>


    {{block 'script'}} {{/block}}
</body>

</html>